@use "./partials/variables" as *;

@import "@fontsource/roboto";

@import "bootstrap/scss/bootstrap";


body {
    font-family: "Roboto", sans-serif;
    background-color: $background;
}

img {
    max-width: 100%;
}